@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;500;700&display=swap');

 

*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
} 

main{
    /* background-color: orange;  */
    max-width: 30rem; 
    margin: 1rem auto;  
    min-height: 100dvh; 
    border-radius: 2rem;
    overflow: hidden; 

}  

body{ 
    background-color: hsl(204, 43%, 93%) ; 
    font-family: 'Karla' , cursive;       
    align-content: center; 
    justify-content: center;
}

.first-div{ 
  background-color: hsl(0, 0%, 100%); 
} 

.starter { 
  font-weight: 700; 
  font-size: 2em; 
  padding: 5px 0px;
  color:  hsl(179, 62%, 43%);
} 

.bold-text{ 
    font-weight: 500; 
    font-size: 2em;  
    color: hsl(71, 73%, 54%); 
    padding: 9px 0px; 
} 

.first-p{
    font-family: 300; 
    font-size: 130%;  
    color: hsl(218, 22%, 67%);
} 

.second-div{
    background-color: hsl(179, 62%, 43%); 
    color: #fff;  
    text-align: center;
} 

.second-starter{ 
    font-size: 2rem; 
    font-weight: 500;
}  

.dollar{ 
 font-weight: 700; 
 font-size: 150%; 
 color: white;
} 

.price{ 
    font-size: 120%; 
    padding: 5px 0px; 
    color: hsl(204, 43%, 93%);
}
 
.access{ 
    font-size: 120%; 
    padding-bottom: 20px; 
} 

.button{ 
    padding: 15px 6rem;  
    background-color: hsl(71, 73%, 54%); 
    border: none;  
    display: inline-flex;
    color: #fff; 
    font-size: 150%; 
    font-weight: 200; 
    transition: 1s ease;
} 

.button:hover{ 
    border-radius: 2em; 
    border: 1px dashed white; 
    color: #fff; 
    background-color: transparent; 
    cursor: pointer;
}

.third-div{ 
    background-color: hsl(179, 36%, 55%); 
    color: #fff; 
    font-size: 120%; 
    text-align: center;
} 

.attribution{
    font-size: 120%; 
    font-weight: 500; 
    margin-left: 2em;
} 

#unique-padding{ 
    padding: 6rem 5rem;
} 

.attribution { 
    font-size: 140%;  
    margin: 2em 2em;
    text-align: center; 
}

.attribution a {  
    color: hsl(228, 45%, 44%);
}

@media (min-width: 1170px) {
    main{ 
        max-width: 60rem;
    } 

    .second{ 
        display: flex;
    } 

    .second-div{ 
        border-bottom-left-radius: 2em; 
        text-align: left;
    } 

    .third-div{ 
        border-bottom-right-radius: 2em; 
        width: 50%;
    } 

    .button{ 
        padding: 5% 7rem; 
        transition: 1s ease;
    } 

    .button:hover{ 
    border-radius: 2em; 
    border: 1px solid white; 
    color: #fff; 
    background-color: transparent; 
    cursor: pointer;
    }
}

